@page "/Panther/Index"
@model PantherPetManagement_TrongLHQE180185.Pages.Panther.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@* Search Bar *@
<form method="get" asp-page="/Panther/Index" class="form-inline mb-3">
    <div class="form-group mt-2">
        <p class="mb-0">Weight</p>
        <input name="Weight" type="text" class="form-control" placeholder="Weight" value="@Model.Weight" />
    </div>
    <div class="form-group mt-2">
        <p class="mb-0">Panther Type Name</p>
        <input name="PantherTypeName" type="text" class="form-control" placeholder="Panther Type Name"
               value="@Model.PantherTypeName" />
    </div>
    <div class="form-group mt-2 d-flex">
        <button type="submit" class="btn btn-primary">Search</button>
        <p class="btn btn-info m-2">
            <a asp-page="Create">Create New</a>
        </p>
    </div>
</form>

<table class="table">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PantherProfile[0].PantherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PantherProfile[0].Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PantherProfile[0].Characteristics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PantherProfile[0].Warning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PantherProfile[0].ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PantherProfile[0].PantherType.PantherTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PantherProfile) {
            <tr id="panther-@item.PantherProfileId">
            <td>
                @Html.DisplayFor(modelItem => item.PantherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Characteristics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PantherType.PantherTypeName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PantherProfileId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PantherProfileId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PantherProfileId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<nav>
    <ul class="pagination">
        @if(Model.TotalPages != 1)
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link"
                   asp-page="/Panther/Index"
                   asp-route-PageNumber="@i"
                   asp-route-PageSize="@Model.PageSize"
                   asp-route-PantherTypeName="@(Model.PantherTypeName)"
                   asp-route-Weight="@(Model.Weight)">
                    @i
                </a>
            </li>
        }
    </ul>
</nav>

<script src="~/js/signalr/dist/browser/signalr.js"></script>

<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/PantherPetManagementHubs")
        .withAutomaticReconnect()
        .build();

    connection.start().then(function () {
        console.log("Connected to the SignalR Hub");
    }).catch(function (err) {
        console.error("Connection failed: ", err.toString());
    });
    connection.on("Receive_DeletePantherProfile", function (id) {
        const row = $(`#panther-${id}`);
        if (row.length) {
            row.fadeOut(300, function() {
                $(this).remove();
            });
        }
    });
</script>
